.changeBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.weiterBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.stimuliBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0px solid black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


button {
    border: unset;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid lightgrey;
    margin-bottom: 50px;
}


table {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

.resultCont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    gap: 30px;
}

.d-none {
    display: none;
}